In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [19]:
wine = pd.read_csv('winequality-red.csv', header=None, sep=';') 
wine.columns = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [20]:
#verificando os valores da coluna de qualidade
wine.quality.value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [21]:
# construindo tabela com 2 exemplos de cada classe 
wine.groupby('quality').head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
18,7.4,0.59,0.08,4.4,0.086,6.0,29.0,0.9974,3.38,0.50,9.0,4
19,7.9,0.32,0.51,1.8,0.341,17.0,56.0,0.9969,3.04,1.08,9.2,6
38,5.7,1.13,0.09,1.5,0.172,7.0,19.0,0.9940,3.50,0.48,9.8,4
267,7.9,0.35,0.46,3.6,0.078,15.0,37.0,0.9973,3.35,0.86,12.8,8
278,10.3,0.32,0.45,6.4,0.073,5.0,13.0,0.9976,3.23,0.82,12.6,8
459,11.6,0.58,0.66,2.2,0.074,10.0,47.0,1.0008,3.25,0.57,9.0,3
517,10.4,0.61,0.49,2.1,0.200,5.0,16.0,0.9994,3.16,0.63,8.4,3

In [22]:
#dropando a coluna de qualidade
wine = wine.drop(['quality'], axis=1)

In [23]:
# mostrando a media de cada atributo da tabela
medias_atributos = []
for col in wine.columns:
    medias_atributos.append(wine[col].mean())
medias_atributos

[8.319637273295838,
 0.5278205128205131,
 0.2709756097560964,
 2.5388055034396517,
 0.08746654158849257,
 15.874921826141339,
 46.46779237023139,
 0.9967466791744831,
 3.311113195747343,
 0.6581488430268921,
 10.422983114446502]

In [24]:
# mostrando a mediana de cada atributo da tabela
medianas_atributos = []
for col in wine.columns:
    medianas_atributos.append(wine[col].median())
medianas_atributos

[7.9, 0.52, 0.26, 2.2, 0.079, 14.0, 38.0, 0.99675, 3.31, 0.62, 10.2]

In [26]:
# mostrando a media aparada de cada atributo da tabela
media_aparada_atributos = []
for col in wine.columns:
    media_aparada_atributos.append(stats.trim_mean(wine[col], 0.1))
media_aparada_atributos

[8.152537080405933,
 0.5180679156908665,
 0.26128805620608897,
 2.258352849336456,
 0.0802349726775956,
 14.57728337236534,
 41.843091334894616,
 0.9967362138953942,
 3.3090944574551138,
 0.637447306791569,
 10.310031225604996]

In [27]:
# mostrando o desvio absoluto de cada atributo da tabela
desvio_absoluto_atributos = []
for col in wine.columns:
    desvio_absoluto_atributos.append(wine[col].mad())
desvio_absoluto_atributos

[1.3601357321121286,
 0.1423909174002983,
 0.16465443341112626,
 0.7640645478470975,
 0.02177343250413295,
 8.18752691351418,
 25.354052974791795,
 0.0014333458176838988,
 0.11976866404542223,
 0.11909378946582135,
 0.8779685630598518]

In [28]:
# mostrando a variancia de cada atributo da tabela
variancia_atributos = []
for col in wine.columns:
    variancia_atributos.append(wine[col].var())
variancia_atributos

[3.031416388997835,
 0.03206237765155147,
 0.037947483134405526,
 1.9878971329859656,
 0.0022151426533009964,
 109.41488383305908,
 1082.1023725325779,
 3.562029453326975e-06,
 0.023835180545412806,
 0.028732616129761888,
 1.1356473950004693]

In [29]:
# mostrando o desvio padrao de cada atributo da tabela
desvio_padrao_atributos = []
for col in wine.columns:
    desvio_padrao_atributos.append(wine[col].std())
desvio_padrao_atributos

[1.7410963181277006,
 0.17905970415353498,
 0.19480113740531785,
 1.4099280595072805,
 0.047065302010090154,
 10.46015696980973,
 32.89532447829901,
 0.0018873339538425559,
 0.15438646490354266,
 0.16950697959010977,
 1.0656675818473926]

In [31]:
# mostrando a desvio absoluto mediano da mediana de cada atributo da tabela
desvio_absoluto_mediano_atributos = []
for col in wine.columns:
    desvio_absoluto_mediano_atributos.append(wine[col].mad()/np.sqrt(len(wine)))
desvio_absoluto_mediano_atributos

[0.03401402434677182,
 0.0035608858857724985,
 0.00411764780133595,
 0.01910758575000357,
 0.0005445059973230058,
 0.2047521678911104,
 0.6340494958063609,
 3.584484870810267e-05,
 0.0029951527326579235,
 0.002978275593237496,
 0.021956076422787612]

In [32]:
# mostrando o maximo de cada atributo da tabela
maximo_atributos = []
for col in wine.columns:
    maximo_atributos.append(wine[col].max())
maximo_atributos

[15.9, 1.58, 1.0, 15.5, 0.611, 72.0, 289.0, 1.00369, 4.01, 2.0, 14.9]

In [33]:
# mostrando o minimo de cada atributo da tabela
minimo_atributos = []
for col in wine.columns:
    minimo_atributos.append(wine[col].min())
minimo_atributos

[4.6, 0.12, 0.0, 0.9, 0.012, 1.0, 6.0, 0.99007, 2.74, 0.33, 8.4]

In [34]:
# mostrando a amplitude de cada atributo da tabela
amplitude_atributos = []
for col in wine.columns:
    amplitude_atributos.append(wine[col].max() - wine[col].min())
amplitude_atributos

[11.3,
 1.46,
 1.0,
 14.6,
 0.599,
 71.0,
 283.0,
 0.013619999999999965,
 1.2699999999999996,
 1.67,
 6.5]

In [36]:
# mostrsndo o 10 percentil de cada atributo da tabela
percentil_10_atributos = []
for col in wine.columns:
    percentil_10_atributos.append(wine[col].quantile(0.1))
percentil_10_atributos

[6.5, 0.31, 0.01, 1.7, 0.06, 5.0, 14.0, 0.994556, 3.12, 0.5, 9.3]

In [37]:
# mostrando o 25 percentil de cada atributo da tabela
percentil_25_atributos = []
for col in wine.columns:
    percentil_25_atributos.append(wine[col].quantile(0.25))
percentil_25_atributos

[7.1, 0.39, 0.09, 1.9, 0.07, 7.0, 22.0, 0.9956, 3.21, 0.55, 9.5]

In [38]:
# mostrando o 75 percentil de cada atributo da tabela
percentil_75_atributos = []
for col in wine.columns:
    percentil_75_atributos.append(wine[col].quantile(0.75))
percentil_75_atributos

[9.2, 0.64, 0.42, 2.6, 0.09, 21.0, 62.0, 0.997835, 3.4, 0.73, 11.1]

In [39]:
# mostrando o 90 percentil de cada atributo da tabela
percentil_90_atributos = []
for col in wine.columns:
    percentil_90_atributos.append(wine[col].quantile(0.9))
percentil_90_atributos

[10.7,
 0.745,
 0.5220000000000005,
 3.6,
 0.109,
 31.0,
 93.20000000000005,
 0.99914,
 3.51,
 0.85,
 12.0]

In [41]:
# mostrando a amplitude interquartil de cada atributo da tabela
amplitude_interquartil_atributos = []
for col in wine.columns:
    amplitude_interquartil_atributos.append(wine[col].quantile(0.75) - wine[col].quantile(0.25))
amplitude_interquartil_atributos

[2.0999999999999996,
 0.25,
 0.32999999999999996,
 0.7000000000000002,
 0.01999999999999999,
 14.0,
 40.0,
 0.002234999999999987,
 0.18999999999999995,
 0.17999999999999994,
 1.5999999999999996]